__pycache__/

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual environment
venv/

# IDE-specific files
.vscode/

# Compiled Python files
*.pyc
*.pyo
*.pyd

data/test/*
data/training/*
data/validation/*
.venv/*